<% layout('layouts/boilerplate') -%>
<div class="row mt-3">
    <div class="alert alert-danger">
        <h4 class="alert-heading"><%= err.statusCode %></h4>
        <p><%= err.message %></p>
    </div>
</div>